@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// background: linear-gradient(45deg, #C026D3, #701A75); for linear text

$theme: #C026D3;
$sub-text: #475569;
$main-text: #0F172A;
$sect-back: #F1F5F9;
$white: #ffffff;